<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>
        <div class="container">
            <div><h1>Meet the NERVLAB team!</h1></div>
          <div class="row">
              {{ range sort .Data.Pages ".Weight" }}
              <div class="col-xs-3">
                <img> {{ partial "sections/team/img.html" .}} </img>
              </div>
              <div class="col-xs-9">
                <h2><a href="{{ .Permalink }}">{{ .Params.name }}</a></h2>
                <h3><em> {{ .Params.category }} </em></h3>
                  <h3>{{ .Params.expertise }}</h3>
                <p> {{ .Params.bio }} </p>
              </div>
                  {{ end }}
          </div>
        </div>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
