<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "body-top" . }}
  <main>
    
    <div class="container">
      <div class="center-xs">
        <h1>Publications</h1>
      </div>
    <div class="low-pad-container">
      <div class="row">
        {{ range sort .Data.Pages ".Weight" }}
        <div class="col-xs-12">
        <br><h2><a href="{{ .Params.doi }}" >{{ .Params.title }}</a></h2>
        <div class="sub-header"> {{ .Params.year }} | <em>{{ .Params.location }}</em> | {{ .Params.authors }} </div>
        </div>
      <div class="row">
        {{ range .Params.buttons -}}
        <div class="col-xs-2">
          <a href="{{ .url }}" {{ if default false .newTab -}}target="_blank" rel="noopener" {{- end }}>
            <button type="submit">{{ with .icon }}{{ partial "icon" . }}{{ end }} {{ .btype }}</button>
          </a>
        </div>
        {{ end }}
      <br>
      <br>
      {{ end }}
    <div class="container">

        </div>



  </main>
  {{ partial "footer.html" . }}
  {{ partial "body-bottom" . }}
  </body>
  
</html>